<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">
    <link name="front_rgb_camera_link">
        <visual>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.055 0.085 0.045" />
            </geometry>
            <material name="camera_black">
                <color rgba="0.02 0.02 0.02 1.0" />
            </material>
        </visual>
        <collision>
            <origin xyz="0 0 0" rpy="0 0 0" />
            <geometry>
                <box size="0.055 0.085 0.045" />
            </geometry>
        </collision>
        <inertial>
            <mass value="0.08" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.00006" ixy="0" ixz="0" iyy="0.00004" iyz="0" izz="0.00006" />
        </inertial>
    </link>

    <joint name="front_rgb_camera_joint" type="fixed">
        <parent link="base_link" />
        <child link="front_rgb_camera_link" />
        <origin xyz="0.43 0 0.34" rpy="0 0 0" />
    </joint>

    <link name="front_rgb_camera_optical_frame" />
    <joint name="front_rgb_camera_optical_joint" type="fixed">
        <parent link="front_rgb_camera_link" />
        <child link="front_rgb_camera_optical_frame" />
        <origin xyz="0 0 0" rpy="-1.57079632679 0 -1.57079632679" />
    </joint>

    <gazebo reference="front_rgb_camera_link">
        <material>Gazebo/Black</material>
        <sensor name="front_rgb_camera" type="camera">
            <always_on>true</always_on>
            <update_rate>15.0</update_rate>
            <visualize>true</visualize>
            <camera name="front_rgb_camera">
                <horizontal_fov>1.3962634</horizontal_fov>
                <image>
                    <width>640</width>
                    <height>480</height>
                    <format>R8G8B8</format>
                </image>
                <clip>
                    <near>0.05</near>
                    <far>80.0</far>
                </clip>
                <noise>
                    <type>gaussian</type>
                    <mean>0.0</mean>
                    <stddev>0.005</stddev>
                </noise>
            </camera>
            <plugin name="front_rgb_camera_controller" filename="libgazebo_ros_camera.so">
                <robotNamespace>/</robotNamespace>
                <cameraName>front_rgb_camera</cameraName>
                <imageTopicName>image_raw</imageTopicName>
                <cameraInfoTopicName>camera_info</cameraInfoTopicName>
                <frameName>front_rgb_camera_optical_frame</frameName>
                <hackBaseline>0.0</hackBaseline>
                <distortionK1>0.0</distortionK1>
                <distortionK2>0.0</distortionK2>
                <distortionK3>0.0</distortionK3>
                <distortionT1>0.0</distortionT1>
                <distortionT2>0.0</distortionT2>
            </plugin>
        </sensor>
    </gazebo>
</robot>
